// COLORS
$primary-color: #55c57a;
$dark-primary-color: #28b485;
$light-primary-color: #7ed56f;

$secondry-color-light: #ffb900;
$secondry-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;


$white-color: #fff;
$light-grey-1: #f7f7f7;
$dark-grey: #777;

// FONTS
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// MEDIA QUERY BREAK POINTS 
$phone-range : 37.5em; // 600px
$port-tab-range : 56.25em; // 900px
$land-tab-range : 75em; // 1200px
$big-screens-range : 112.5em; // 1800px 