.feature-box {
    background-color: rgba($color: $white-color, $alpha: .7);
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.15);
    transition: transform .4s ease;
    @include respond(port-tab) {
        padding: 2rem;
        margin: 0 15rem;
    }
    @include respond(phone) {
        margin: 0 8rem;
    }
    &-icon {
        font-size: 6rem;
        background-image: linear-gradient(to right, $light-primary-color,$dark-primary-color);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
        @include respond(port-tab) {
            margin: 0;
        }
    }
    &:hover {
        transform: translateY(-1.2rem) scale(1.05);
    }
    &-text {
        padding: 0 .5rem;
        @include respond(port-tab) {
            padding-bottom: 2rem;
        }
        @include respond(phone) {
            padding-bottom: 2rem;
        }
    }
}